/** custom styles for the index.php **/
body {
  padding-top: 50px;
}

div.query {
  padding-top: 25px;
  text-align: center
}

.select_elements {
  min-width: 150px;
}

.end_presentation_mode {
  display:none;
}

div.right_menu_column {
  padding-top: 25px;
}

canvas.canvas_style {
  float:right;
  border:1px solid #000000;
}

.input_element {
  width: 80%;
  min-width: 150px;
  padding-right:10px;
  margin:0 !important;
}

.left_align {
  float: left;
}

div.visualization {
  padding-top: 25px;
  text-align: center;
  padding-bottom: 25px;
}

div.fill_display_with_padding{
  padding-bottom:20px;
}

/** custom styles for the elements, when the display is bigger than 768px **/
@media only screen and (min-width: 768px) {
  div.parent_row {
      overflow: hidden;
  }
  div.content_columns {
      vertical-align: top;
      display: inline;
      zoom:1;
      padding-bottom: 9999px;
      margin-bottom: -9999px;
  }
  div.hide_information_when_small {
      display: none;
      color:red;
  }
}

/** custom styles for the elements, when the display is smaller than 768px **/
@media only screen and (max-width: 768px) {
  div.content_columns {
      padding-bottom: 20px;
  }
  div.hide_information_when_small {
      display: block;
      color:red;
  }
}

div.left_column {
  padding-top:10px;
  background-color:lavender;
  height:100%;
}

div.no-margin-bottom {
  margin-bottom: 0px !important;
}

/** Custom Style for the label which shows error messages for both input text fields **/
label#label_msg_noun, label#label_msg_verb {
	color: red;
	font-size: 10px;
}

label#label_msg_query_error {
	color: red;
	font-size: 15px;
}
